<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzz.mapper.UserMapper">
   <insert id="add" parameterType="com.wzz.pojo.User">
       insert into user (a_name,a_pass) values (#{a_name},#{a_pass})
   </insert>

    <select id="select"  parameterType="String" resultType="com.wzz.pojo.User">
        select
        *
        from user
        where a_name = #{a_name}
    </select>

    <select id="getAll"   resultType="com.wzz.pojo.User">
        select
            *
        from user
    </select>

    <select id="select1"  parameterType="String" resultType="com.wzz.pojo.User">
        select
            *
        from user
        <where>
        <if test="name!=null and name !=''">
            a_name = #{name}
        </if>
        </where>
    </select>

    <delete id="delete" parameterType="int">
        delete from user where a_id=#{id}
    </delete>
</mapper>